/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and Pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.content-area {
	margin-bottom: 5rem;
}


/* Journal Blog Index and Single Journal Blog Posts */

.blog, .single-post, .archive.date, .archive.tag, .archive.category {
	.hentry {
		margin: 0 0 4.5rem;
		margin-bottom: 2rem;
	}

  .entry-header {
    position: relative;
		line-height: 0;
  }

	.site-content {
		width: 1120px;
		margin: 0 auto;
		display: flex;
	}

	.content-area {
		border-right: 1px solid $color__border;
    padding-right: 5%;
		padding-top: 9%;
    width: 73%;
	}

	img {
		width: 1500px;
		height: auto;
		position: relative;
	}

	h2.entry-title a, h1.entry-title {
		position: absolute;
		line-height: 1.3;
		top: 0px;
		background: $color__brand-green;
		padding: 0.75rem 1.5rem;
		margin-top: 2.25rem;
		font-weight: bold;
		font-size: 2.1rem;
		max-width: 75%;
		color: $color__background-body;
	}

	h2.entry-title a:hover {
		color: $color__link-hover;
	}

	.entry-meta {
		text-transform: uppercase;
		font-family: $font__headings;
		background: $color__brand-green;
		color: $color__background-body;
		position: absolute;
		bottom: 0;
		right: 0;
		padding: 1rem 1.5rem;
	}

	a.read-more {
		color: #000;
		border: 1px solid black;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
		font-family: $font__headings;
	}

	a.read-more:hover {
		background: $color__brand-green;
		color: $color__background-body;
		border: none;
	}

		.social-buttons {
			margin-bottom: 5rem;
		}
}


.single-post {
	.cat-links, .tags-links {
		margin-right: 1.5rem;
		font-family: $font__headings;
		text-transform: uppercase;
	}

	.entry-footer a, .reply a {
		color: $color__brand-green;
	}

	.post-navigation {
		display: none;
	}
}

/* When a post doesn't contain a featured image */

h1.entry-title-empty {
		line-height: 1.3;
		top: 0px;
		background: $color__brand-green;
		padding: 0.75rem 1.5rem;
		margin-top: 2.25rem;
		font-weight: bold;
		font-size: 2.1rem;
		max-width: 100%;
		color: $color__background-body;
		margin-bottom: 0;
	}

/* Single Adventures Posts */

.single-adventures {
	.adventures-container {
		width: auto;
	}
	.adventures-content-container {
		max-width: 800px;
		margin: 0 auto;
	}

	.entry-title {
		font-weight: bold;
	}

	.author {
		font-family: $font__headings;
		font-size: 1.2rem;
		text-transform: uppercase;
	}
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}