/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

.home {
  h2 {
    font-weight: 400;
    font-size: 2.4rem;
    margin-bottom: 3.75rem;
    text-align: center;
  }

  .home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,0,0,0.4)0, rgba(0,0,0,0.4)), #969696 url(../../images/home-hero-compressed.jpg) no-repeat top;
  background-size: cover, cover;
  height: 100vh;
  }

  .logo {
    background: url(../../images/inhabitent-logo-full.svg) no-repeat;
    height: 275px;
    width: 275px;
  }
}

.site-branding p {
  display: none;
}

.site-header {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;

  .container {
    display: flex;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}

/*Front Page Blog Posts */

.latest-blog-posts {
  ul {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    border: 1px solid $color__border;
    flex: 0 1 32%;
    position: relative;
  }

  h3 {
    font-weight: bold;
    color: $color__brand-green;
    margin-bottom: 4rem;
    font-size: 1.4rem;
    margin-top: 0;
  }

  a.read-more {
    border: 1px solid black;
    color: black;
    font-family: $font__headings;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;

    &:hover {
        background: $color__brand-green;
        color: white;
        border: none;
      }
  }

  .thumbnail-container {
    background-color: #e1e1e1;
    height: 250px;
    overflow: hidden;
    position: relative;

    img {
    left: 50%;
    max-height: 250px;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-52%);
    width: auto;
    }
  }

  .post-info-container {
    padding: 0.75rem;
  }

  .post-metadata {
    font-size: 0.75rem;
    font-family: $font__main;

    a {
      color: black;
    }
  }
}


/* Front Page Product Type Items */

.product-type-items {
  display: flex;
  text-align: center;
  justify-content: space-between;

  .single-product-type {
    border: 1px solid $color__background-hr;
    border-top-width: 0.2rem;
    flex: 0 1 23.5%;
    max-width: 23.5%;
    padding: 0.75rem;

    img {
      width: 70px;
      height: 70px;
    }

    &:hover {
      border-color: $color__brand-orange;
    }
  }

  h3 {
    max-width: 8rem;
    margin: 0 auto;
    padding: 0.3rem 0;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    background: $color__brand-green;
    color: white;

    &:hover {
      background: $color__brand-dark-green;
    }
  }
}


/* Front Page Adventures Section */

.home .adventures {
  li {
    float: left;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      float: left;
      padding-top: 540px;
    }

    &:first-child {
    border-right: 20px solid white;
    width: 50%;
    }

    &:nth-child(2) {
      border-bottom: 20px solid white;
      width: 50%;

      &:before {
        padding-top: 250px;
      }
    }

    &:nth-child(3) {
      border-right: 10px solid white;
      width: 25%;

      &:before {
        padding-top: 270px;
      }
    }

    &:last-child {
      border-left: 10px solid white;
      width: 25%;

      &:before {
        padding-top: 270px;
      }
    }
  }

  .adventure-story-container {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 1;

    img {
      left: 50%;
      max-height: 620px;
      max-width: none;
      position: absolute;
      top: 86%;
      transform: translate(-50%,-75%);
      width: auto;
    }

    &:after {
      background: rgba(0,0,0,.35);
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
      z-index: 1;
    }
  }

  .story-info {
    margin: 1.5rem;
    position: absolute;
    z-index: 2;

    .entry-title {
      font-family: $font__main;
      text-transform: none;
      margin-top: 0;

      a {
        color: white;

        &:hover {
          color: $color__link-hover;
        }
      }
    }
  }
}

.home .adventures {
  li {
    &:first-child {
      .story-info h3 {
        font-size: 3rem;
      }
    }

    &:nth-child(2) {
      .story-info h3 {
        font-size: 2.4rem;
      }
    }

    &:nth-child(3), &:last-child {
      .story-info h3 {
        font-size: 1.6rem;
      }
    }
  }

  .read-more {
    margin-top: 0;
    color: white;
    font-family: $font__headings;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    text-transform: uppercase;

    &:hover {
      background: $color__brand-green;
      border: 1px solid $color__brand-green;
    }
  }

  .more-adventures {
    background: $color__brand-green;
    padding: 0.5rem 1.5rem;
    width: 21%;

    &:hover {
        background: $color__brand-dark-green;
    }
    
    a {
      color: white;
      font-family: $font__headings;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
}

ul.adventure-items { 
  &:after {
  clear: both;
  display: table;
  content: "";
  }
}



/* Footer */
.site-footer {
  background: url(../../images/dark-wood@2x.png);
  background-size: 512px 512px;
  color: $color__background-body;

  .site-info {
    font-family: $font__headings,sans-serif;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;

    p {
      margin-top: 0;
    }
  }
}

.footer-info {
  display: flex;

  .footer-info-item {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
    width: 25%;
  }

  h3 {
    color: $color__brand-orange;
    font-weight: bold;
  }

  p span {
    font-weight: bold;
  }

  p a {
    color: $color__background-body;
  }

  i {
    font-size: 1.25rem;
    margin-right: .5rem;
  }

  .footer-logo {
    margin-top: 1rem;
    text-align: right;

    img {
      max-width: 50%;
    }
  }
}

.footer-info-item:last-child {
  width: 50%;
  padding-right: 0;
}


/* About Page */

.page-template-about .entry-header {
    background-size: cover, cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-template-about .entry-title {
  font-size: 3rem;
  text-align: center;
  color: $color__background-body;
  margin: 0 auto;
  font-weight: bold;
}

.page-template-about .content-area {
  margin-bottom: 5rem;
}

.about-info {
  width: 800px;

  h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    color: black;
  }
}


/* Single Product Page */

.single-product {

  h1 {
    color: $color__brand-orange;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .entry-meta, .widget-area, .post-navigation {
    display: none;
  }

  .site-content {
    padding-top: 6rem;
  }

  .type-product {
    display: flex;
    margin-bottom: 8rem;
  }

  .product-image-container, .product-content-container {
    width: 50%;
  }

  .entry-title, .entry-content, .price {
    margin: 0;
  }

  .price {
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }

  .product-content-container {
    margin-left: 2.5rem;
  }

    .social-buttons i {
        margin-right: 0.3rem;
    }
}

.tax-product-type {
  .taxonomy-description {
    text-align: center;
  }
}


/* Social Media Buttons on Single Blog Posts, Single Product Pages and Single Adventures Pages */

.single-product, .single-post, .single-adventures {
  .sm-button {
      border: 1px solid black;
      color: black;
      border-radius: 0;
      background: white;
      font-size: 12px;
      font-size: .75rem;
      line-height: 1;
      padding: .75rem 1.5rem;
      text-transform: uppercase;
      font-family: $font__headings;
      font-size: 0.9rem;
      box-shadow: none;
      text-shadow: none;

      &:hover {
        background: $color__brand-green;
        color: white;
        border: none;
      }
    }
}

/* Product Archive Page */

.post-type-archive, .tax-product-type {
  .site-content {
    padding-top: 4rem;
  }

  .page-header {
    border-bottom: $color_border-dashed;
  
    h1 {
      text-align: center;
      font-weight: bold;
      font-size: 2.5rem;
      margin-top: 2rem;
    }
  }

.product-type-categories {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  a {
    margin: 0 2rem;
    color: $color__brand-green;

    &:hover {
      color: black;
    }
  }
}

  .product-archive, .product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .product-grid-item {
    flex: 0 1 23%;
    max-width: 23%;
    border: 1px solid $color__border;
    margin-bottom: 1.5rem;
  }

  .product-item-thumbnail {
    background-color: lightgrey;
    height: 250px;
    overflow: hidden;
    position: relative;

    img {
      max-height: 250px;
      max-width: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-52%);
      width: auto;
    }
   }

  .product-item-text {
    margin: .75rem 1rem;
    text-align: center;
  }
}

/* Main Site Content Layout: Find Us Page, Search Results, 404 Page */

.page-template-findus, .search-results, .error404, .search-no-results, {
    .content-area {
		border-right: 1px solid $color__border;
    padding-right: 5%;
		padding-top: 5rem;
    width: 73%;
	}

  .entry-content {
    width: 68%;
  }

  .site-content {
    width: 1120px;
    margin: 0 auto;
    display: flex;
  }

  h1, h2 {
    font-weight: bold;
    color: black;
    font-size: 2.1rem;
  }

  label {
    font-family: $font__headings;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;

    span {
      color: $color__brand-orange;
    }
  }

  	input[type=submit] {
		background: $color__brand-green;
    color: #fff;
    cursor: pointer;
    font-family: $font__headings;
    font-size: 0.9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
		border-color: none;
		border-radius: 0;
		box-shadow: none;
		text-shadow: none;

		&:hover {
			background: #15544f;
		}
  }

  .wpcf7-form-control {
    background-color: #f6f6f6;
    border: 1px solid $color__border;
  }
}

/* Search Results Page */

.search-results {
  .site-content {
    margin-bottom: 5rem;
  }
  .page-header {
    border-bottom: 1px solid $color__border;
  }

  h2 a {
    color: $color__brand-green;
  }

  .entry-meta {
    font-family: $font__headings;
    text-transform: uppercase;
  }

  a.read-more {
		color: #000;
		border: 1px solid black;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
		font-family: $font__headings;
	}

	a.read-more:hover {
		background: $color__brand-green;
		color: $color__background-body;
		border: none;
	}
}

/* Adventures Archive Page */

.post-type-archive-adventures {
  .page-title {
    margin-bottom: 2.5rem;
  }
  .adventure-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
  }

  .adventure-grid-item {
    flex: 0 1 49%;
    margin-bottom: 1.5rem;
    max-width: 49%;
    position: relative;

    &:before {
      content: "";
      float: left;
      padding-top: 100%;
    }

  .adventure-image-container {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;

    &:after {
      background: rgba(0,0,0,.35);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
  }

  img {
    left: 50%;
    max-height: 550px;
    max-width: none;
    width: auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
  }

  .adventure-story-info {
    margin: 1rem 2.5rem;
    position: absolute;
    z-index: 2;
  }

  h2 {
    font-family: $font__main;
    text-transform: none;
    font-size: 3rem;

    a {
      color: white;
    }
  }

  a.read-more {
    color: white;
    font-family: novecento;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 0.6rem 1.2rem;

    &:hover {
      background: $color__brand-green;
      border: 1px solid $color__brand-green;
    }
  }
}
}


