/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


/* Archives */
h2.widget-title ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

/* Sidebar and Widget Area */

.widget-area {
    margin-top: 6rem;
    padding-left: 4rem;

  .widget.widget_archive {
    ul {
      padding-left: 0;
      margin-left: 0;
    }
}

  .day-of-week {
    font-weight: bold;
  }

  .widget.widget_archive a {
    color: $color__brand-green;

    &:hover {
      color: black;
    }
  }

  h2.widget-title {
    font-weight: bold;
		font-size: 1.5rem;
  }

	.contact-meta {
		display:flex;

			a {
			color: $color__brand-green;
		}
	}

	.fa {
		margin-right: 0.5rem;
		line-height: 1.8rem;
	}
}